<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Anuj Patel </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
 
  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/"> Anuj Patel </a></h1>
      

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li class="nav-item"><a target="_blank" rel="noopener noreferrer" class="nav-link " href="/static/assets/docs/resume.pdf">Resume</a></li>
          
          

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url(static/assets/img/hero-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
         
          <h1 class="hero-title mb-.3">Hello, I am Anuj Patel</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="College Freshman, Coder"></span></p>
         
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="static/assets/img/Snapseed.jpg" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span> Anuj Patel</span></p>
                        <p><span class="title-s">Email: </span> <span> panuj2218@gmail.com</span></p>
                        <p><span class="title-s">Phone: </span> <span> 336-210-3459</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skill</p>
                <ul>
                  <li>Python-Flask</li>
                  <li>Java</li>            
                  <li>C/C++</li>
                  <li>C# & .NET</li>
                  <li> HTML, CSS and JAVASCRIPT</li>
                  
                  <li>Tools: Visual Studio, JetBrains IDEs, Git/Github</li>
                  <li>Database: MongoDb, SQL</li>
                </ul>
                </div>

                <div class="col">
                  <div class=" about-me pt-4 pt-md-0 ">
                    <div class="title-box-2">

                      <h5 class="title-left ">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                      Hello, I am currently a freshman in college pursuing my Bachelor's degree in Computer science. I am passionate about cricket .I also like road trips. I am currently living in United States but my native is Gujarat, India.  
                    </p>
                    <p class="lead">
                      I very passionate about programming. I am seeking for internship opportunities involving software development.
                      I am self taught programmer hoping to get my hands on experiencing the real world of software development. I am seeking for any possible opportunities to work in the field.
                    </p>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    
  <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(static/assets/img/work-3.jpg)">
      <div class="overlay-mf "></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Send Message 
                      </h5>
                    </div>
                    <div>
                      <form id="contactForm" data-sb-form-api-token="API_TOKEN" action ="/" method ="post">
                                <div class="form-floating">
                                    <input class="form-control" id="name" type="text" name="name" placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="name">Name</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="email" type="email" name="email" placeholder="Enter your email..." data-sb-validations="required,email" />
                                    <label for="email">Email address</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="phone" type="tel" placeholder="Enter your phone number..." name="phone" data-sb-validations="required" />
                                    <label for="phone">Phone Number</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="message" placeholder="Enter your message here..." name="message" style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label for="message">Message</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                                </div>
                                <br />
                               
                                <!-- Submit Button-->
                                <button class="btn btn-primary" id="submitButton" type="submit">Send</button>
                            </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                        Please feel free to contact me for any work purpose or other purposes. I appreciate you for taking the time to visit my website.
                      </p>
                      <ul class="list-ico">
                        <li><span class="bi bi-geo-alt"></span> 211 S Lakeview Dr Shepherdsville KY 40165</li>
                        <li><span class="bi bi-phone"></span> 336-210-3459 </li>
                        <li><span class="bi bi-envelope"></span> panuj2218@gmail.com</li>
                      </ul>
                    </div>
                    <div class="socials">

                      <ul>
                        
                        <li><a target="_blank" rel="noopener noreferrer" href="{{params['ig_url']}}"><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                        
                        <li><a target="_blank" rel="noopener noreferrer" href="{{params['ln_url']}}"><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>Anuj Patel</strong>. All Rights Reserved 2022</p>
        
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>
